body {
    background-color: #F9F6F2;
    margin: 0;
    }
    .name {
    color: rgba(145, 91, 74, 1);
    font-size: 40px;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter', sans-serif;
    }
    .talks {
    color: #38470B;
    }
    nav {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    }
    .items {
    text-decoration: none;
    color: #38470B;
    font-size: 24px;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-family: 'Inter', sans-serif;
    }
    .logo {
    display: flex;
    margin-right: auto;
    }
    .main {
    filter: contrast(50%);
    filter: brightness(50%);
    }
    .headerOne {
    height: 100%;
    position: relative;
    }
    .header {
    position: absolute;
    height: 100%;
    top: 20%;
    left: 35%;
    width: 30%;
    }
    .heading {
    color: #fff;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Inter', sans-serif;
    }
    hr {
    width: 30%;
    color: #fff;
    }
    .headerAbout {
    display: flex;
    justify-content: center;
    }
    .textAbout {
    color: #38470B;
    font-size: 20px;
    text-align: center;
    width: 40%;
    font-family: 'Inter', sans-serif;
    }
    .container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
    }
    .one {
    color: #A0855B;
    font-size: 32px;
    font-weight: bolder;
    margin: 0;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    }
    .two {
    color: #38470B;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    margin: 0;
    font-family: 'Inter', sans-serif;
    }
    .three {
    color: #A0855B;
    font-size: 20px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    }
    .sale {
    display: flex;
    background-color: #F1D6AB;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    margin-top: 50px;
    }
    .offer {
    color: #38470B;
    font-size: 32px;
    font-weight: bolder;
    margin-left: 50px;
    border: none;
    }
    .btn {
    background-color: #38470B;
    color: #fff;
    margin: 20px;
    padding: 10px;
    width: 200px;
    border: none;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    }
    .aboutCoffee {
    display: flex;
    margin-top: 100px;
    }
    .boxTwo {
    background-color: #A0855B;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    }
    .textBoxTwo {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    width: 40%;
    align-self: center; 
    margin: 0;
    }
    .everyMonth {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 50px;
    font-weight: lighter;
    }
    .fresh {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    width: 60%;
    align-self: center; 
    }
    .foot {
    color: #38470B;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
    }
    .cont {
    font-size: 18px;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
    }
    .text {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    }